<div class="col">
    <div class="cp-upload">
        <box>
            <h2 style="text-align: center;">COMPUTER PROGRAMMING</h2>
            <form action="" method="post" enctype="multipart/form-data">
                <input type="text" name="filename" placeholder="Image File name...">
                <input type="text" name="filetitle" placeholder="Program title...">
                <input type="text" name="filedesc" placeholder="Program description...">
                <input type="url" name="fileurl" placeholder="Github url..."> 
                <input type="file" name="file">
                <button type="submit" name="submit">Upload Content</button>
            </form>
        </box>
    </div>
</div>
<div class="col">
    <div class="wd-upload">
        <box>
            <h2 style="text-align: center;">WEBSITE DEVELOPMENT</h2>
            <form action="" method="post" enctype="multipart/form-data">
                <input type="text" name="filename" placeholder="Image File name...">
                <input type="text" name="filetitle" placeholder="Website title...">
                <input type="text" name="filedesc" placeholder="Website description...">
                <input type="url" name="fileurl" placeholder="Github url..."> 
                <input type="file" name="file">
                <button type="submit" name="submit">Upload Content</button>
            </form>
        </box>
    </div>
</div>